nav.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 10px;
  background-color: $bg;
  color: white;
}

a.menu {
  font-size: 2rem;
  padding: 1rem;
}